html {
  min-height: 100%;
  position: relative;
}

html,
body {
  -ms-overflow-style: scrollbar;
}

textarea {
  resize: none;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

::-ms-clear { display: none; }
